<div class="card">
    <section class="card-body">
        <form>
            <div class="form-group">
                <label for="name">Nome do mapa:</label>
                <input required name="name" id="name" [(ngModel)]="node.node_name" [ngModelOptions]="{standalone: true}" class="form-control">
            </div>
            
            <div *ngIf="node.node_id">
                <label for="link">Conexões:</label>
                <div *ngIf="node.node_links" class = "form-group form-inline">
                    <div *ngFor="let link of node.node_links; let in=index;">
                        <select [(ngModel)]="node.node_links[in]" [ngModelOptions]="{standalone: true}" class="form-control">
                            <option *ngFor="let node of nodeList;" [value] = node.node_id>
                                ({{node.node_id}}) - {{node.node_name}}
                            </option>
                        </select>
                        <button (click) = "removeEdge(in)">Deletar</button>
                    </div>
                </div>
                <button (click) = "newEdge()">Nova conexão</button>
            </div>
            <button class = "btn btn-primary mt-5" type="submit" (click) = "onSubmit()">Salvar</button>
        </form>
    </section>
</div>